.form {
  display: flex;
  flex-direction: column;

  /* padding: 25px; */
}
.label {
  margin-top: 15px;
}
.inputName {
  margin-left: 22px;
}
.inputNumber {
  margin-left: 5px;
}

.button {
  margin: 0 auto;
  /* max-width: 189px; */
  margin-top: 15px;
}
